.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.frame {
  background-color: #1f2e54;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: 30px;
  width: 350px;
  height: auto; /* Adjusted to auto height for dynamic content */
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.frame-long {
  height: 300px; /* Adjust the height for the long frame if needed */
}

.frame:hover {
  transform: scale(1.05);
}

.form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-signin label {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.form-signin input {
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 100%; /* Adjusted to full width */
}

.btn-signin {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-signin:hover {
  background-color: #45a049;
}
