/* ServicePhases.css */

.phase-card {
    flex: 0 1 calc(33.33% - 20px); /* Adjust the width as needed to make all cards have the same size */
    margin: 10px; /* Equal space between cards */
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    box-sizing: border-box;
  }
  
  .phase-card h4 {
    font-size: 18px; /* Adjust the font size as needed */
    margin-bottom: 10px;
  }
  
  .phase-card:hover {
    background-color: #e0e0e0;
  }
  
  .container {
    text-align: center;
    margin-top: 100px;
  }
  
  .close-button {
    margin-top: 20px;
  }
  
  /* Add the selected style */
  .phase-card.selected {
    background-color: #4caf50;
    color: #fff;
  }
  
  /* Dialog styles */
  .dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dialog-title h6 {
    margin: 0;
  }
  
  .dialog-content {
    padding: 20px;
  }
  
  .dialog-actions {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  /* Yes button */
  .dialog-actions .MuiButton-containedPrimary {
    background-color: #4caf50;
    color: #fff;
  }
  
  /* No button */
  .dialog-actions .MuiButton-containedSecondary {
    background-color: #e53935;
    color: #fff;
  }
  